prepare_lca_inputs() fails with "File is not a zip file" error (macOS and pip-installed Brightway)

### Is there an existing issue for this?
- [x] I have checked and did not find an issue in the already repoted ones.

### Which operating system and Python version are you using?
Operating system: macOS 15.6.1 (MacBook Air M1 2020)
Python version: 3.13

### Which version of this project are you using?
Brighway25 version: 1.1.0 (I followed the instructions for my operating system and did not install `umfpack`)
Package manager: Python Poetry (pip-based)

<details>
<summary><b>All packages in virtual environment</b></summary>

```
poetry show                  
annotated-types           0.7.0          Reusable constraint types to use with typing.Annotated
anyio                     4.11.0         High-level concurrency and networking framework on top of asyncio or Trio
appnope                   0.1.4          Disable App Nap on macOS >= 10.9
argon2-cffi               25.1.0         Argon2 for Python
argon2-cffi-bindings      25.1.0         Low-level CFFI bindings for Argon2
arrow                     1.3.0          Better dates & times for Python
asteval                   1.0.6          Safe, minimalistic evaluator of python expression using ast module
asttokens                 3.0.0          Annotate AST trees with source code positions
astunparse                1.6.3          An AST unparser for Python
async-lru                 2.0.5          Simple LRU cache for asyncio
attrs                     25.3.0         Classes Without Boilerplate
babel                     2.17.0         Internationalization utilities
beautifulsoup4            4.14.2         Screen-scraping library
bleach                    6.2.0          An easy safelist-based HTML-sanitizing tool.
blinker                   1.9.0          Fast, simple object-to-object and broadcast signaling
brightway25               1.1.0          A wrapper library for documentation and easy installation of Brightway 2.5
brotli                    1.1.0          Python bindings for the Brotli compression library
bw-migrations             0.2            Migration data and utilities for Brightway IO and LCA in general
bw-processing             1.0            Foo
bw-simapro-csv            0.4.3          Utility library to read and parse SimaPro CSV LCI and LCIA files
bw2analyzer               0.11.7         
bw2calc                   2.1.1          The calculation engine for the Brightway life cycle assessment framework.
bw2data                   4.5            Tools for the management of inventory databases and impact assessment methods....
bw2io                     0.9.11         Tools for importing and export life cycle inventory databases
bw2parameters             1.1.0          Contains all the python boilerplate you need to create a Brightway ecosystem p...
certifi                   2025.8.3       Python package for providing Mozilla's CA Bundle.
cffi                      2.0.0          Foreign Function Interface for Python calling C code.
charset-normalizer        3.4.3          The Real First Universal Charset Detector. Open, modern and actively maintaine...
comm                      0.2.3          Jupyter Python Comm implementation, for usage in ipykernel, xeus-python etc.
contourpy                 1.3.3          Python library for calculating contours of 2D quadrilateral grids
cycler                    0.12.1         Composable style cycles
debugpy                   1.8.17         An implementation of the Debug Adapter Protocol for Python
decorator                 5.2.1          Decorators for Humans
deepdiff                  7.0.1          Deep Difference and Search of any Python object/data. Recreate objects by addi...
defusedxml                0.7.1          XML bomb protection for Python stdlib modules
deprecated                1.2.18         Python @deprecated decorator to deprecate old python classes, functions or met...
ecoinvent-interface       3.1            Unofficial client for interfacing with ecoinvent database
et-xmlfile                2.0.0          An implementation of lxml.xmlfile for the standard library
executing                 2.2.1          Get the currently executing AST node of a frame, and other information
fastjsonschema            2.21.2         Fastest Python implementation of JSON schema
flexcache                 0.3            Saves and loads to the cache a transformed versions of a source object.
flexparser                0.4            Parsing made fun ... using typing.
fonttools                 4.60.1         Tools to manipulate font files
fqdn                      1.5.1          Validates fully-qualified domain names against RFC 1123, so that they are acce...
fsspec                    2025.9.0       File-system specification
ftfy                      6.3.1          Fixes mojibake and other problems with Unicode, after the fact
h11                       0.16.0         A pure-Python, bring-your-own-I/O implementation of HTTP/1.1
httpcore                  1.0.9          A minimal low-level HTTP client.
httpx                     0.28.1         The next generation HTTP client.
idna                      3.10           Internationalized Domain Names in Applications (IDNA)
inflate64                 1.0.3          deflate64 compression/decompression library
ipykernel                 6.30.1         IPython Kernel for Jupyter
ipython                   9.6.0          IPython: Productive Interactive Computing
ipython-pygments-lexers   1.1.1          Defines a variety of Pygments lexers for highlighting IPython code.
isoduration               20.11.0        Operations with ISO 8601 durations
jedi                      0.19.2         An autocompletion tool for Python that can be used for text editors.
jinja2                    3.1.6          A very fast and expressive template engine.
json5                     0.12.1         A Python implementation of the JSON5 data format.
jsonpointer               3.0.0          Identify specific nodes in a JSON document (RFC 6901)
jsonschema                4.25.1         An implementation of JSON Schema validation for Python
jsonschema-specifications 2025.9.1       The JSON Schema meta-schemas and vocabularies, exposed as a Registry
jupyter-client            8.6.3          Jupyter protocol implementation and client libraries
jupyter-core              5.8.1          Jupyter core package. A base package on which Jupyter projects rely.
jupyter-events            0.12.0         Jupyter Event System library
jupyter-lsp               2.3.0          Multi-Language Server WebSocket proxy for Jupyter Notebook/Lab server
jupyter-server            2.17.0         The backend—i.e. core services, APIs, and REST endpoints—to Jupyter web applic...
jupyter-server-terminals  0.5.3          A Jupyter Server Extension Providing Terminals.
jupyterlab                4.4.9          JupyterLab computational environment
jupyterlab-pygments       0.3.0          Pygments theme using JupyterLab CSS variables
jupyterlab-server         2.27.3         A set of server components for JupyterLab and JupyterLab like applications.
kiwisolver                1.4.9          A fast implementation of the Cassowary constraint solver
lark                      1.3.0          a modern parsing library
loguru                    0.7.3          Python logging made (stupidly) simple
lxml                      6.0.2          Powerful and Pythonic XML processing library combining libxml2/libxslt with th...
markupsafe                3.0.3          Safely add untrusted strings to HTML/XML markup.
matplotlib                3.10.6         Python plotting package
matplotlib-inline         0.1.7          Inline Matplotlib backend for Jupyter
matrix-utils              0.6.2          Tools to create matrices from data packages
mistune                   3.1.4          A sane and fast Markdown parser with useful plugins and renderers
morefs                    0.2.2          A collection of self-contained fsspec-based filesystems
mrio-common-metadata      0.2.1          Common Datapackage schema and utilities for MRIO tables
multifunctional           1.1.1          Code for handling multifunctional activities in Brightway
multivolumefile           0.2.3          multi volume file wrapper library
nbclient                  0.10.2         A client library for executing notebooks. Formerly nbconvert's ExecutePreproce...
nbconvert                 7.16.6         Converting Jupyter Notebooks (.ipynb files) to other formats.  Output formats ...
nbformat                  5.10.4         The Jupyter Notebook format
nest-asyncio              1.6.0          Patch asyncio to allow nested event loops
notebook-shim             0.2.4          A shim layer for notebook traits and config
numpy                     1.26.4         Fundamental package for array computing in Python
openpyxl                  3.1.5          A Python library to read/write Excel 2010 xlsx/xlsm files
ordered-set               4.1.0          An OrderedSet is a custom MutableSet that remembers its order, so that every
packaging                 25.0           Core utilities for Python packages
pandas                    2.3.3          Powerful data structures for data analysis, time series, and statistics
pandocfilters             1.5.1          Utilities for writing pandoc filters in python
parso                     0.8.5          A Python Parser
peewee                    3.18.2         a little orm
pexpect                   4.9.0          Pexpect allows easy control of interactive console applications.
pillow                    11.3.0         Python Imaging Library (Fork)
pint                      0.25           Physical quantities module
platformdirs              4.4.0          A small Python package for determining appropriate platform-specific dirs, e.g...
prometheus-client         0.23.1         Python client for the Prometheus monitoring system.
prompt-toolkit            3.0.52         Library for building powerful interactive command lines in Python
psutil                    7.1.0          Cross-platform lib for process and system monitoring.
ptyprocess                0.7.0          Run a subprocess in a pseudo terminal
pure-eval                 0.2.3          Safely evaluate AST nodes without side effects
py7zr                     1.0.0          Pure python 7-zip library
pybcj                     1.0.6          bcj filter library
pycparser                 2.23           C parser in Python
pycryptodomex             3.23.0         Cryptographic library for Python
pydantic                  2.11.9         Data validation using Python type hints
pydantic-core             2.33.2         Core functionality for Pydantic validation and serialization
pydantic-settings         2.11.0         Settings management using Pydantic
pyecospold                4.0.0          A Python package that converts ecospold XML formats to their Python equivalent...
pygments                  2.19.2         Pygments is a syntax highlighting package written in Python.
pyparsing                 3.2.5          pyparsing - Classes and methods to define and execute parsing grammars
pyppmd                    1.2.0          PPMd compression/decompression library
python-dateutil           2.9.0.post0    Extensions to the standard Python datetime module
python-dotenv             1.1.1          Read key-value pairs from a .env file and set them as environment variables
python-json-logger        3.3.0          JSON Log Formatter for the Python Logging Package
pytz                      2025.2         World timezone definitions, modern and historical
pyxlsb                    1.0.10         Excel 2007-2010 Binary Workbook (xlsb) parser
pyyaml                    6.0.3          YAML parser and emitter for Python
pyzmq                     27.1.0         Python bindings for 0MQ
pyzstd                    0.17.0         Python bindings to Zstandard (zstd) compression library.
randonneur                0.6.2          Library to apply flexible changes to datasets
randonneur-data           0.6            Data for the randonneur ETL library and spec
rapidfuzz                 3.14.1         rapid fuzzy string matching
rdflib                    7.2.1          RDFLib is a Python library for working with RDF, a simple yet powerful languag...
referencing               0.36.2         JSON Referencing + Python
requests                  2.32.5         Python HTTP for Humans.
rfc3339-validator         0.1.4          A pure python RFC3339 validator
rfc3986-validator         0.1.1          Pure python rfc3986 validator
rfc3987-syntax            1.1.0          Helper functions to syntactically validate strings according to RFC 3987.
rpds-py                   0.27.1         Python bindings to Rust's persistent data structures (rpds)
scipy                     1.16.2         Fundamental algorithms for scientific computing in Python
send2trash                1.8.3          Send file to trash natively under Mac OS X, Windows and Linux
setuptools                80.9.0         Easily download, build, install, upgrade, and uninstall Python packages
six                       1.17.0         Python 2 and 3 compatibility utilities
sniffio                   1.3.1          Sniff out which async library your code is running under
snowflake-id              1.0.2          The Snowflake generator done right
soupsieve                 2.8            A modern CSS selector implementation for Beautiful Soup.
sparqlwrapper             2.0.0          SPARQL Endpoint interface to Python
stack-data                0.6.3          Extract data from python stack frames and tracebacks for informative displays
stats-arrays              0.7            Standard NumPy array interface for defining uncertain parameters
structlog                 25.4.0         Structured Logging for Python
tabulate                  0.9.0          Pretty-print tabular data
terminado                 0.18.1         Tornado websocket backend for the Xterm.js Javascript terminal emulator library.
texttable                 1.7.0          module to create simple ASCII tables
tinycss2                  1.4.0          A tiny CSS parser
tornado                   6.5.2          Tornado is a Python web framework and asynchronous networking library, origina...
tqdm                      4.67.1         Fast, Extensible Progress Meter
traitlets                 5.14.3         Traitlets Python configuration system
types-python-dateutil     2.9.0.20250822 Typing stubs for python-dateutil
typing-extensions         4.15.0         Backported and Experimental Type Hints for Python 3.9+
typing-inspection         0.4.2          Runtime typing introspection tools
tzdata                    2025.2         Provider of IANA time zone data
uri-template              1.3.0          RFC 6570 URI Template Processor
urllib3                   2.5.0          HTTP library with thread-safe connection pooling, file post, and more.
voluptuous                0.15.2         Python data validation library
wcwidth                   0.2.14         Measures the displayed width of unicode strings in a terminal
webcolors                 24.11.1        A library for working with the color formats defined by HTML and CSS.
webencodings              0.5.1          Character encoding aliases for legacy web content
websocket-client          1.8.0          WebSocket client for Python with low level API options
wheel                     0.45.1         A built-package format for Python
wrapt                     1.17.3         Module for decorators, wrappers and monkey patching.
xlrd                      2.0.2          Library for developers to extract data from Microsoft Excel (tm) .xls spreadsh...
xlsxwriter                3.2.9          A Python module for creating Excel XLSX files.
```
</details>

### What did you do?
I am following the official Brightway25 tutorial on learn.brightway.dev (accessed on 10.10.2025). Preparing input data to perform an LCA ([Section 3.2](https://learn.brightway.dev/en/latest/content/chapters/BW25/BW25_introduction.html#performing-the-lca)), the tutorial calls the following code:
```
my_functional_unit, data_objs, _ = bd.prepare_lca_inputs(
    {our_activity: 1},
    method=ef_gwp_key
)
```
with an activity selected from the custom database created in Section 2 of the tutorial. All precursory code that I would consider relatable (database and project setup, activity and method selection) ran as indicated in the tutorial up to this point.

### What did you expect to see?
That `bd.prepare_lca_inputs()` executes and returns without error. 

### What did you see instead?
An error message stating `BadZipFile: File is not a zip file`. 

<details>
<summary><b>Full error message</b></summary>

```
---------------------------------------------------------------------------
BadZipFile                                Traceback (most recent call last)
Cell In[28], line 1
----> 1 my_functional_unit, data_objs, _ = bd.prepare_lca_inputs(
      2     {our_activity: 1},
      3     method=ef_gwp_key,
      4 )
      5 my_lca = bc.LCA(demand=my_functional_unit, data_objs=data_objs)
      6 my_lca.lci()

File ~/Library/Caches/pypoetry/virtualenvs/brightway-env-UJVY2bQQ-py3.13/lib/python3.13/site-packages/bw2data/compat.py:105, in prepare_lca_inputs(demand, method, weighting, normalization, demands, remapping, demand_database_last)
    100 if demand_database_last:
    101     database_names = [
    102         x for x in database_names if x not in demand_database_names
    103     ] + demand_database_names
--> 105 data_objs.extend([Database(obj).datapackage() for obj in database_names])
    107 if remapping:
    108     # This is technically wrong - we could have more complicated queries
    109     # to determine what is truly a product, activity, etc.
   (...)    112     # just too many values. As the dictionary only exists once, this is
    113     # not really a problem.
    114     reversed_mapping = {
    115         i: (d, c)
    116         for d, c, i in AD.select(AD.database, AD.code, AD.id)
    117         .where(AD.database << database_names)
    118         .tuples()
    119     }

File ~/Library/Caches/pypoetry/virtualenvs/brightway-env-UJVY2bQQ-py3.13/lib/python3.13/site-packages/bw2data/data_store.py:180, in ProcessedDataStore.datapackage(self)
    179 def datapackage(self):
--> 180     return load_datapackage(ZipFileSystem(self.filepath_processed()))

File ~/Library/Caches/pypoetry/virtualenvs/brightway-env-UJVY2bQQ-py3.13/lib/python3.13/site-packages/fsspec/spec.py:81, in _Cached.__call__(cls, *args, **kwargs)
     79     return cls._cache[token]
     80 else:
---> 81     obj = super().__call__(*args, **kwargs)
     82     # Setting _fs_token here causes some static linters to complain.
     83     obj._fs_token_ = token

File ~/Library/Caches/pypoetry/virtualenvs/brightway-env-UJVY2bQQ-py3.13/lib/python3.13/site-packages/fsspec/implementations/zip.py:63, in ZipFileSystem.__init__(self, fo, mode, target_protocol, target_options, compression, allowZip64, compresslevel, **kwargs)
     61 self.of = fo
     62 self.fo = fo.__enter__()  # the whole instance is a context
---> 63 self.zip = zipfile.ZipFile(
     64     self.fo,
     65     mode=mode,
     66     compression=compression,
     67     allowZip64=allowZip64,
     68     compresslevel=compresslevel,
     69 )
     70 self.dir_cache = None

File /opt/homebrew/Cellar/python@3.13/3.13.7/Frameworks/Python.framework/Versions/3.13/lib/python3.13/zipfile/__init__.py:1385, in ZipFile.__init__(self, file, mode, compression, allowZip64, compresslevel, strict_timestamps, metadata_encoding)
   1383 try:
   1384     if mode == 'r':
-> 1385         self._RealGetContents()
   1386     elif mode in ('w', 'x'):
   1387         # set the modified flag so central directory gets written
   1388         # even if no files are added to the archive
   1389         self._didModify = True

File /opt/homebrew/Cellar/python@3.13/3.13.7/Frameworks/Python.framework/Versions/3.13/lib/python3.13/zipfile/__init__.py:1452, in ZipFile._RealGetContents(self)
   1450     raise BadZipFile("File is not a zip file")
   1451 if not endrec:
-> 1452     raise BadZipFile("File is not a zip file")
   1453 if self.debug > 1:
   1454     print(endrec)

BadZipFile: File is not a zip file
```
</details>

The issue has been resolved by starting a new project and importing a fresh instance of ecoinvent.